@page
@model EcommerceApp.Pages.Shop.IndexModel
    @*<partial name="../../Views/Shared/_NavBar.cshtml" />*@

<h1>Our Current Inventory</h1>
<br />
<div class="ShopGameList">
    <div class="container-fluid">
        <h2>Select A Genre To Sort By</h2>
        <form method="post">
            <select asp-for="@Model.SelectAnswer">
                <option value="0">All</option>
                @foreach (var g in Model.Genres)
                {
                    <option value="@g.Id">@g.GenreName</option>
                }
            </select>
            <button type="submit">SelectGenre</button>
        </form>
    </div>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Cover Art</th>
            <th>Name</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Console</th>
            <th>Item Price</th>
        </tr>

        @foreach (var g in Model.Games)
        {
            <tr>
                @if (@g.ImageUrl == null)
                {
                    <td><img src=https://via.placeholder.com/50x50 /></td>
                }
                else
                {
                    <td><img src=@g.ImageUrl width="50" height="50" /></td>
                }
                <td><a href="/GameDetail?id=@g.Id">@g.Name</a></td>
                <td>@g.Description</td>
                <td>
                    @foreach (var genre in g.GenreGames)
                    {
                        <p>@genre.Genre.GenreName </p>
                    }
                </td>
                <td>@g.GameSystem</td>
                <td>@g.ItemPrice</td>
            </tr>
        }
    </table>
</div>
