@page
@model EcommerceApp.Pages.GameDetail.IndexModel

<h1 class="display-3 fw-normal">@Model.Game.Name</h1>
<div>
    <div class><img src="@Model.Game.ImageUrl" /></div>
        <p class="display-5"><strong>Description:</strong></p>
        <div class="border border-primary mx-lg-5">
            <p>@Model.Game.Description</p>
        </div>
    <div class="container-fluid d-flex justify-content-md-around ">
        <p class="px-30"><strong>Console:</strong> @Model.Game.GameSystem</p>
        <p class="px-30"><strong>Item Price:</strong> @Model.Game.ItemPrice</p>
    </div>
    <p>Id: @Model.Game.Id</p>
    <form method="post">
        <input type="hidden" asp-for="@Model.UserInfo.Id" />
        <input type="hidden" asp-for="@Model.Game.Id" />
        @if (User.Identity.IsAuthenticated)
        {
            <button class="btn btn-outline-success" type="submit">Add To Cart</button>
        }
        else
        {
            <button class="btn btn-outline-success" type="submit" disabled>Add To Cart</button>
        }
    </form>
    <br />
    <p><a href="/Shop">Return to Shop</a></p>
</div>
