@model EcommerceApp.Models.Game
<!-->Nav Bar <-->
<p><a href="/Home/Index">Home</a></p>
<p><a href="/Home/Cart">Cart</a></p>
<p><a href="/Home/Checkout">Checkout</a></p>

<h1>Game Details</h1>
<ul>
    <li>@Model.Name </li>
    <li>@Model.GenreGame.Genre.GenreName</li>
    <li>@Model.Description</li>
    <li>@Model.ItemPrice</li>
    <li>@Model.SystemGame.System.SystemName</li>
</ul>
<a href="/Home/Cart">Add To Cart</a>


<!--> add ability to modify or delete game data </!-->
