@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model EcommerceApp.Models.Vm.AdminVm
<body>
    <header>
        <partial name="../Shared/_NavBar.cshtml" />
    </header>
    <main>
        <h1>Administration Dashboard</h1>

        @if ((await AuthorizationService.AuthorizeAsync(User, "create")).Succeeded)
        {
            <h2>Add A Game</h2>
            <form asp-controller="Admin" asp-action="AddGame" method="post">
                <label>
                    <span>Game Title</span>
                    <input asp-for="@Model.Game.Name" placeholder="Super Metroid" value="" />
                </label>
                <label>
                    <span>Game Description</span>
                    <input asp-for="@Model.Game.Description" placeholder="Metroid 3" value="" />
                </label>
                <label>
                    <span>Game Price</span>
                    <input asp-for="@Model.Game.ItemPrice" placeholder="80.00" value="" />
                </label>
                <label>
                    <span>Game System</span>
                    <input asp-for="@Model.Game.GameSystem" placeholder="SNES" value="" />
                </label>
                <button type="submit">Add To Inventory</button>
            </form>
        }       
        @if ((await AuthorizationService.AuthorizeAsync(User, "create")).Succeeded)
        {
            <h2>Add A Genre</h2>
            <form asp-controller="Admin" asp-action="AddGenre" method="post">
                <label>
                    <span>Genre</span>
                    <input asp-for="@Model.Genre.GenreName" />
                </label>
                <button type="submit">Add Genre</button>
            </form>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "delete")).Succeeded)
        {
            <h2> Delete A Game </h2>
            <form asp-controller="Admin" asp-action="DeleteGame" method="post">
                @*@foreach (var g in Model.GameList)
                {
                    @Html.RadioButtonFor(m => m.SelectedAnswer, g.Id)
                    <label>@g.Name</label>
                    <br />
                }*@
                <partial name="_GameListBox" />
                <button type="submit">Delete</button>
            </form>
            <h2> Delete A Genre </h2>
            <form asp-controller="Admin" asp-action="DeleteGenre" method="post">
                @foreach (var g in Model.GenreList)
                {
                    @Html.RadioButtonFor(m => m.SelectedAnswer, g.Id)
                    <label>@g.GenreName</label>
                    <br />
                }
                <input type="submit" value="Submit">
            </form>

        }


        @if ((await AuthorizationService.AuthorizeAsync(User, "update")).Succeeded)
        {
            <div id="selectGameToEdit">
                <h2>View/Edit a Game</h2>
                <form asp-controller="Admin" asp-action="SelectGameToMod" method="post">
                    <partial name="_GameListBox" />
                    <button type="submit">View/Edit Game</button>
                </form>

                <br />
                <form asp-controller="Admin" asp-action="UpdateGame">
                    <span>Title</span>
                    <input asp-for="@Model.Game.Name" value="@Model.Game.Name" type="text" />
                    <p>@Model.Game.Name</p>
                    <span>Description</span>
                    <input asp-for="@Model.Game.Description" />
                    <span>Price</span>
                    <input asp-for="@Model.Game.ItemPrice" />
                    <span>Game System</span>
                    <input asp-for="@Model.Game.GameSystem" />
                    <ul>Genres
                    @if (Model.Game.GenreGames != null)
                        {
                        @foreach (var genre in Model.Game.GenreGames)
                        {
                            <li>@genre.Genre.GenreName</li>
                        }
                    }
                    else
                    {
                        <li>No Genre's Present</li>
                    }
                    <div>
                        <p>Image</p>
                    </div>
                    @if (Model.Game.Image != null)
                    {
                    <img href="@Model.Game.Image.Url" width="100"/>
                    }
                    else 
                    {
                    <p>No Images to Display</p>
                    }
                    </ul>
                    <br />
                    <input type="hidden" asp-for="@Model.Game.Id" />
                    <button type="submit">Click To Update Game</button>
                </form>
            </div>
            <h2>Edit A Genre</h2>
            <form asp-controller="Admin" asp-action="SelectGenreToMod" method="post">
                @Html.ListBoxFor(l => l.SelectedAnswers, Model.Genres, new { size = 7 })
                <button type="submit" value="selectString">Select to Edit</button>
            </form>
            <form asp-controller="Admin" asp-action="UpdateGenre">
                <span>Genre</span>
                <input asp-for="@Model.Genre.GenreName" />
                <input type="hidden" asp-for="@Model.Genre.Id" />
                <button type="submit">Click To Update</button>
            </form>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "update")).Succeeded)
        {
            <h2>Add A Genre To A Game</h2>
            <partial name="_GameListBox" />
            <partial name="_GenreList" />
            <form asp-controller="Admin" asp-action="AddGenreToGame">
                <span>Enter Game Id</span>
                <input asp-for="@Model.GenreGame.GameId" />
                <span> Enter Genre Id</span>
                <input asp-for="@Model.GenreGame.GenreId" />
                <button type="submit">Click Add</button>
            </form>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "delete")).Succeeded)
        {
            <h2>Remove A Genre From A Game</h2>
            <form asp-controller="Admin" asp-action="RemoveGenreToGame">
                <span>Enter Game Id</span>
                <input asp-for="@Model.GenreGame.GameId" />
                <span> Enter Genre Id</span>
                <input asp-for="@Model.GenreGame.GenreId" />
                <button type="submit">Click Add</button>
            </form>
         }
        @if((await AuthorizationService.AuthorizeAsync(User, "create")).Succeeded)
        {
            <div id="upload-image">
                <h2>Upload An Image</h2>
                <br />
                <form asp-controller="Admin" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                    <div>
                        <span>Enter An Image Name</span>
                        <input name="name"/>
                    </div>
                    <div>
                        <span>Select File to Upload</span>
                        <input name="file" type="file"/>
                    </div>
                    <button>Upload Image</button>
                </form>
            </div>
        }
    </main>
</body>
